<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration pour les tests -->
    <logger name="factory" level="INFO"/>
    <logger name="protocol" level="INFO"/>

    <!-- Configuration par défaut des tests -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

